@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<br />
<h3>158258 - Assignment_2 <br /></h3>

<br />
<p>This is the most complex and time-comsuming assignment so far.</p>

<p>It takes huge patience to achieve the final result.</p>

<p>I'm so glad that I finally made it! Lol:)</p>