@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<br />
<h3>Chao Yue</h3>

<address>
    Massey University<br />
    Student ID: 20008378<br />
    <abbr title="Phone">Mobile:</abbr>
    0212584883
</address>

<address>
    <strong>Support:</strong>   <a href="zryc1998@gmail.com">zryc1998@gmail.com</a><br />
</address>